<h3>Basket</h3>

<p>
  <a [routerLink]="['/shipping-types']">Shipping types</a>
</p>

<div class="basket-item" *ngFor="let product of products">
  <span>{{ product.name }}</span>
  <span>{{ product.price | currency }}</span>
</div>

<form [formGroup]="checkoutForm" (ngSubmit)="submit(checkoutForm.value)">
  <div>
    <label for="name">Name</label>
    <input id="name" type="text" formControlName="name">
  </div>

  <div>
    <label for="address">Address</label>
    <input id="address" type="text" formControlName="address">
  </div>

  <button class="button" type="submit">Purchase</button>
</form>